{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{#{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" class="btn btn-brand-accent" value="{{ 'registration.submit'|trans }}" />
    </div>
{{ form_end(form) }}#}
<a href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook' }) }}">
    <span>Entrar Usando Facebook</span>
</a>
<br />
<a href="{{ path('hwi_oauth_service_redirect', {'service': 'google' }) }}">
    <span>Entrar Usando Google</span>
</a>
{% endblock fos_user_content %}