{% extends "::base.html.twig" %}
{% block principal %}
    {% include 'RepSiteBundle:Page:eventos.html.twig' %}
{% endblock %}
{% block js %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/bootstrap-year-calendar.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/jquery.datetimepicker.css') }}" />
    <script type="text/javascript" src="{{ asset('js/jquery.datetimepicker.full.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap-year-calendar.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/calendar-pt.js') }}"></script>
    <script type="text/javascript"> 
        
        function editEvent(event) {
            $idEvento = event.id;

            $url = '{{ path('rep_site_eventos_form') }}' + "/" + $idEvento;

            $.ajax({
                type: 'GET',
                url: $url,
                success: function (response) {
                    $('#body-edicao').html(response);
                    $('#btn-editar').show();
                    $('#modal-edicao').modal('show');
                }
            });

            return false;
        }
        
        function repertorioEvent(event) {
            $slug = event.slug;

            $url = '{{ path('rep_site_musicas_evento') }}' + "/" + $slug;
            window.location.href = $url;
        }

        function saveEvent() {
            
            //salvar no banco de dados
            
            $('#event-modal').modal('hide');
        }
        
        function formataData($data) {
            var mm = $data.getMonth() + 1; // getMonth() is zero-based
            var dd = $data.getDate();

            return [$data.getFullYear(),
                    (mm>9 ? '' : '0') + mm,
                    (dd>9 ? '' : '0') + dd
                   ].join('-');
          };

        $(document).ready(function() {
            
            jQuery.datetimepicker.setLocale('pt');
            
                $('.datetimepicker').datetimepicker({
                    format: "d/m/Y H:i",
                    timepicker: true,
                    datepicker: true,
                    step: 30,
                    i18n:{
                        pt:{
                            months:[
                             'Janeiro','Fevereiro','Março','Abril',
                             'Maio','Junho','Julho','Agosto',
                             'Setembro','Outubro','Novembro','Dezembro'
                            ],
                            dayOfWeek:[
                             "Dom", "Seg", "Ter", "Qua", 
                             "Qui", "Sex", "Sab"
                            ]
                        }
                    }
                });
                
            var currentYear = new Date().getFullYear();

            $('#calendar').calendar({
                enableContextMenu: true,
                enableRangeSelection: false,
                language: 'pt',
                contextMenuItems:[
                    {
                        text: 'Editar',
                        click: editEvent
                    },
                    {
                        text: 'Ver Repertório',
                        click: repertorioEvent
                    }
                ],
                selectRange: function(e) {
                    editEvent({ startDate: e.startDate, endDate: e.endDate });
                },
                mouseOnDay: function(e) {
                    if(e.events.length > 0) {
                        var content = '';

                        for(var i in e.events) {
                            content += '<div class="event-tooltip-content">'
                                            + '<div class="event-name" style="color:' + e.events[i].color + '">' + e.events[i].name + '</div>'
                                            + '<div class="event-location">' + e.events[i].hora + '</div>'
                                        + '</div>';
                        }

                        $(e.element).popover({ 
                            trigger: 'manual',
                            container: 'body',
                            html:true,
                            content: content
                        });

                        $(e.element).popover('show');
                    }
                },
                clickDay: function(e){
                    
                    if(e.events.length > 0) {
                        var data = new Date(e.date);

                        $url = '{{ path('rep_site_eventos_data') }}' + "/" + formataData(data);

                        $.ajax({
                            type: 'GET',
                            url: $url,
                            success: function (response) {
                                $('#body-eventos').html(response);
                                $('#modal-eventos').modal('show');
                            }
                        });
                    } else{
                        $('#form-evento')[0].reset();
                        $('.datetimepicker').datetimepicker({value: new Date(e.date)});
                        $('#modal-cadastro').modal('show');
                    }
                    
                },
                mouseOutDay: function(e) {
                    if(e.events.length > 0) {
                        $(e.element).popover('hide');
                    }
                },
                dayContextMenu: function(e) {
                    $(e.element).popover('hide');
                },
                dataSource: [
                    {% for evento in eventosAtivos %}
                        {
                            id: '{{ evento.id }}',
                            color: '{{ evento.tipoEvento.cor }}',
                            name: '{{ evento.nome }}',
                            hora: '{{ evento.data|date('H:i') }}',
                            slug: '{{ evento.slug }}',
                            startDate: new Date({{ evento.data|date('Y') }}, {{ evento.data|date('m')-1 }}, {{ evento.data|date('d') }}),
                            endDate: new Date({{ evento.data|date('Y') }}, {{ evento.data|date('m')-1 }}, {{ evento.data|date('d') }})
                        }
                        
                        {% if not loop.last %},{% endif %}
                        
                    {% endfor %}
                ]
            });

            $('#save-event').click(function() {
                saveEvent();
            });
            
            $('#btn-cadastrar').click(function(){
                $('#form-evento').submit();
            });
            
            $(document).on('click', '.link-editar-evento', function(){
               $idEvento = $(this).attr('href').replace('#', '');

                $url = '{{ path('rep_site_eventos_form') }}' + "/" + $idEvento;

                    $.ajax({
                        type: 'GET',
                        url: $url,
                        success: function (response) {
                            
                            $('#modal-eventos').modal('hide');
                            
                            $('#body-edicao').html(response);
                            $('#btn-editar').show();
                            $('#modal-edicao').modal('show');
                        }
                    });

                    return false;
           });
           
           $(document).on('click', '#btn-cadastrar-evento', function(){
               
               $('#form-evento')[0].reset();
               
               console.log($(this).data('dia'));
               
               $dados = $(this).data('dia').split('-');
               
               var date = new Date();
               date.setDate($dados[2]);
               date.setMonth($dados[1]-1);
               date.setYear($dados[0]);
               date.setHours(0);
               date.setMinutes(0);
               
               console.log(date);
               
               $('#modal-eventos').modal('hide');
               
               $('.datetimepicker').datetimepicker({value: date});
               $('#modal-cadastro').modal('show');
           });

        });
        
        
        
    </script>
{% endblock %}