{% extends "::base.html.twig" %}
{% block principal %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {#<form name="form-musica-projeto" id="form-musica-projeto" method="POST" 
                      action="{{ path('rep_site_musicas_projetos_cadastra', {'id_musica': -1, 'projeto': projeto.slug}) }}">
                    {{ form_widget(formMusicaProjeto) }}
                    <input type="submit" value="Cadastrar" class="btn btn-brand-accent" />
                </form>#}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">Informa&ccedil;&otilde;es Por Projeto</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center">{{ projeto.nome }}<br /><small><a href="#" id="link-muda-projeto">Mudar Projeto</a></small></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs nav-justified" role="tablist">
                    <li class="active">
                        <a href="#lista-musicas" data-toggle="tab">M&uacute;sicas Cadastradas</a>
                    </li>
                    <li>
                        <a href="#repertorios" data-toggle="tab">Repert&oacute;rios</a>
                    </li>
                    <li>
                        <a href="#ensaios-futuros" data-toggle="tab">Pr&oacute;ximos Ensaios</a>
                    </li>
                    <li>
                        <a href="#shows-futuros" data-toggle="tab">Pr&oacute;ximos Shows</a>
                    </li>
                    <li>
                        <a href="#ensaios" data-toggle="tab">&Uacute;ltimos Ensaios</a>
                    </li>
                    <li>
                        <a href="#shows" data-toggle="tab">&Uacute;ltimos Shows</a>
                    </li>
                    <li>
                        <a href="#informacoes" data-toggle="tab">Informa&ccedil;&otilde;es</a>
                    </li>
                </ul>

                <div class="tab-content">

                    <div class="tab-pane fade in active" id="lista-musicas">
                        <br />
                        <a href="#" class="btn btn-primary" id="btn-adiciona-musica">Adicionar M&uacute;sica</a>
                        <h3 class="text-center">M&uacute;sicas Ativas</h3>
                        <div id="caixa-repertorio">
                            {% include 'RepSiteBundle:MusicaProjeto:tabela-cadastrados.html.twig' 
                                  with {'musicas': musicasProjeto} %}
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="text-center">M&uacute;sicas Sugeridas</h3>
                                <div id="caixa-repertorio-fila">
                                    {% include 'RepSiteBundle:MusicaProjeto:tabela-cadastrados.html.twig' 
                                          with {'musicas': musicasProjetoFila} %}
                                </div>
                            </div>
                        </div>
                    </div>
                                
                    <div class="tab-pane fade" id="repertorios">
                        <br />
                            <table class="table table-striped text-center">
                                <thead>
                                    <tr>
                                        <td>Nome</td>
                                        <td>A&ccedil;&otilde;es</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for repertorio in repertorios %}
                                        <tr>
                                            <td>{{ repertorio.nome }}</td>
                                            <td>
                                                <a href="#{{ repertorio.id }}" 
                                                   class="link-editar-repertorio">Editar</a> |
                                                <a href="{{ path('rep_site_musicas_repertorio', {'slug': repertorio.slug}) }}" id="link-gerencia-repertorio">Gerenciar Repert&oacute;rio</a>
                                            </td>
                                        </tr>
                                    {% else %}
                                    <td colspan="2">Nenhum repert&oacute;rio cadastrado.</td>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <br />
                        <a href="#" class="btn btn-primary" id="btn-adiciona-repertorio">Adicionar Repert&oacute;rio</a>
                        
                    </div>

                    <div class="tab-pane fade" id="ensaios">
                        {% for ensaio in ensaios %}
                            <table class="table table-striped text-center">
                                <thead>
                                    <tr>
                                        <td colspan="3">
                                            <strong>
                                                <a href="{{ path('rep_site_musicas_evento', {'slug': ensaio.slug}) }}" 
                                                   target="_blank">{{ ensaio.nome }}</a>
                                                <br />
                                                <small>{{ ensaio.data|date('d/m/Y H:i') }}</small></strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Cont.</td>
                                        <td>M&uacute;sica</td>
                                        <td>Artista</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for mus in ensaio.musicas %}
                                        <tr>
                                            <td>{{ loop.index }}</td>
                                            <td>{{ mus.musica.nome }}</td>
                                            <td>{{ mus.musica.artista.nome }}</td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <br />
                        {% else %}
                            <p>Nenhum ensaio cadastrado.</p>
                        {% endfor %}
                    </div>

                    <div class="tab-pane fade" id="shows">
                        {% for show in shows %}
                            <table class="table table-striped text-center">
                                <thead>
                                    <tr>
                                        <td colspan="3">
                                            <strong>
                                                <a href="{{ path('rep_site_musicas_evento', {'slug': show.slug}) }}" 
                                                   target="_blank">{{ show.nome }}</a>
                                                <br />
                                                <small>{{ show.data|date('d/m/Y H:i') }}</small></strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Cont.</td>
                                        <td>M&uacute;sica</td>
                                        <td>Artista</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for mus in show.musicas %}
                                        <tr>
                                            <td>{{ loop.index }}</td>
                                            <td>{{ mus.musica.nome }}</td>
                                            <td>{{ mus.musica.artista.nome }}</td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <br />
                        {% else %}
                            <p>Nenhum show cadastrado.</p>
                        {% endfor %}
                    </div>

                    <div class="tab-pane fade" id="ensaios-futuros">
                        {% for ensaio in ensaiosFuturos %}
                            <table class="table table-striped text-center">
                                <thead>
                                    <tr>
                                        <td colspan="3">
                                            <strong>
                                                <a href="{{ path('rep_site_musicas_evento', {'slug': ensaio.slug}) }}" 
                                                   target="_blank">{{ ensaio.nome }}</a>
                                                <br />
                                                <small>{{ ensaio.data|date('d/m/Y H:i') }}</small></strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Cont.</td>
                                        <td>M&uacute;sica</td>
                                        <td>Artista</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for mus in ensaio.musicas %}
                                        <tr>
                                            <td>{{ loop.index }}</td>
                                            <td>{{ mus.musica.nome }}</td>
                                            <td>{{ mus.musica.artista.nome }}</td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <br />
                        {% else %}
                            <p>Nenhum ensaio cadastrado.</p>
                        {% endfor %}
                    </div>

                    <div class="tab-pane fade" id="shows-futuros">
                        {% for show in showsFuturos %}
                            <table class="table table-striped text-center">
                                <thead>
                                    <tr>
                                        <td colspan="3">
                                            <strong>
                                                <a href="{{ path('rep_site_musicas_evento', {'slug': show.slug}) }}" 
                                                   target="_blank">{{ show.nome }}</a>
                                                <br />
                                                <small>{{ show.data|date('d/m/Y H:i') }}</small></strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Cont.</td>
                                        <td>M&uacute;sica</td>
                                        <td>Artista</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for mus in show.musicas %}
                                        <tr>
                                            <td>{{ loop.index }}</td>
                                            <td>{{ mus.musica.nome }}</td>
                                            <td>{{ mus.musica.artista.nome }}</td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <br />
                        {% else %}
                            <p>Nenhum show cadastrado.</p>
                        {% endfor %}
                    </div>

                    <div class="tab-pane fade" id="informacoes">
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="text-center">Hist&oacute;rico de M&uacute;sicas Executadas<br /><small>Apenas M&uacute;sicas Ativas</small></h4>

                                <table class="table text-center">
                                    <thead>
                                        <tr>
                                            <td>Cont.</td>
                                            <td>M&uacute;sica</td>
                                            <td>&Uacute;ltima Execu&ccedil;&atilde;o</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for musica in musicas %}

                                            {% if musica.execucao|date('U') < "-30 days"|date("U") or musica.execucao is null  %}
                                                <tr class="fundo-grave">
                                                {% elseif musica.execucao|date('U') < "-15 days"|date("U") %}
                                                <tr class="fundo-medio">
                                                {% else %}
                                                <tr>
                                                {% endif %}

                                                <td>{{ loop.index }}</td>
                                                <td>{{ musica.nome }}</td>
                                                <td>{{ musica.execucao is not null ? musica.execucao|date('d/m/Y H:i') : '-' }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <hr class="divider" />
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="text-center">M&uacute;sicas Por Estilo<br /><small>Apenas M&uacute;sicas Ativas</small></h4>
                                <table class="table text-center">
                                {% for estilo in estilos %}
                                    <tr class="bg-primary">
                                        <td colspan="3">
                                            <strong>{{ estilo.nome }}</strong>
                                        </td>
                                    </tr>
                                    <tr class="bg-info">
                                        <td>Cont.</td>
                                        <td>M&uacute;sica</td>
                                        <td>Artista</td>
                                    </tr>
                                    {% set cont = 1 %}
                                    {% for musica in estilo.musicas %}
                                        
                                        {% if musica in musicasAtivas %}
                                            <tr>
                                                <td>{{ cont }}</td>
                                                <td>{{ musica.nome }}</td>
                                                <td>{{ musica.artista }}</td>
                                            </tr>
                                            {% set cont = cont+1 %}
                                        {% endif %}
                                        
                                        
                                    {% endfor %}
                                    <tr>
                                        <td colspan="3">&nbsp;</td>
                                    </tr>
                                {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>
    <div class="modal fade" id="modal-adicao">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Adicionar M&uacute;sica</h4>
                </div>
                <div class="modal-body" id="body-adicao">

                </div>
                <div class="modal-footer">
                    <div class="text-left pull-left">
                        <button type="button" class="btn btn-success" id="btn-nova-musica" data-dismiss="modal">Nova M&uacute;sica</button>
                    </div>
                    <div class="text-right">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                        <button type="button" class="btn btn-primary" id="btn-editar">Salvar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-edicao">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Editar Status M&uacute;sica</h4>
                </div>
                <div class="modal-body" id="body-edicao">

                </div>
                <div class="modal-footer">
                    <p class="text-right">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                        <button type="button" class="btn btn-primary" id="btn-editar-musica">Salvar</button>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="titulo-modal"></h4>
                </div>
                <div class="modal-body" id="body-modal">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary" id="btn-editar">Salvar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-load">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body" id="content-load">
                    <div class="modal-inner text-center">
                        <img src="{{ asset('imagens/load.gif') }}" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-muda-projeto">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="titulo-modal">Escolha o Projeto</h4>
                </div>
                <div class="modal-body" id="body-muda-projeto">

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-nova-musica">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="titulo-modal">Adicionar M&uacute;sica</h4>
                </div>
                <div class="modal-body" id="body-modal-nova-musica">

                </div>
                <div class="modal-footer">
                    <div class="text-left pull-left">
                        <button type="button" class="btn btn-success" id="btn-novo-artista" data-dismiss="modal">Novo Artista</button>
                    </div>
                    <div class="text-right">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                        <button type="button" class="btn btn-primary" id="btn-cadastrar-nova">Salvar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-novo-artista">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="titulo-modal">Adicionar Artista</h4>
                </div>
                <div class="modal-body" id="body-modal-novo-artista">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary" id="btn-cadastrar-novo-artista">Salvar</button>
                </div>
            </div>
        </div>
    </div>
                        
    <div class="modal fade" id="modal-repertorio">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="titulo-modal-repertorio">Adicionar Repert&oacute;rio</h4>
                </div>
                <div class="modal-body" id="body-repertorio">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary" id="btn-cadastrar-repertorio">Salvar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    {{ parent() }}
    <script src="{{ asset('js/jquery.form.min.js') }}"></script>
    <script type="text/javascript">

        function carregarTabela() {
            $url = '{{ path('rep_site_tabela_musicas_projeto', {'id_projeto': projeto.id, 'status': 0}) }}';
            $urlFila = '{{ path('rep_site_tabela_musicas_projeto', {'id_projeto': projeto.id, 'status': 1}) }}';

            $.ajax({
                type: 'GET',
                url: $url,
                success: function (response) {
                    $('#caixa-repertorio').html(response);
                }
            });

            $.ajax({
                type: 'GET',
                url: $urlFila,
                success: function (response) {
                    $('#caixa-repertorio-fila').html(response);
                }
            });

        }

        $(document).ready(function () {
            $('#btn-adiciona-musica').click(function () {

                $url = '{{ path('rep_site_form_cadastra_musicas_projeto', {'id_projeto': projeto.id}) }}';

                $.ajax({
                    type: 'GET',
                    url: $url,
                    success: function (response) {
                        $('#body-adicao').html(response);
                        $('#btn-editar').show();
                        $('#modal-adicao').modal('show');
                    }
                });

                return false;

            });
            
            $('#btn-adiciona-repertorio').click(function () {

                $url = '{{ path('rep_site_repertorios_form', {'id_projeto': projeto.id, 'id_repertorio': -1}) }}';
                
                $.ajax({
                    type: 'GET',
                    url: $url,
                    success: function (response) {
                        $('#body-repertorio').html(response);
                        $('#btn-cadastrar-repertorio').show();
                        $('#modal-repertorio').modal('show');
                    }
                });

                return false;

            });

            $(document).on('click', '.link-remover-musica', function () {

                $id = $(this).attr('href').replace('#', '');

                $url = '{{ path('rep_site_remove_musica_projeto', {'id_projeto': projeto.id}) }}/' + $id;

                $('#modal-load').modal('show');

                $.ajax({
                    type: 'GET',
                    url: $url,
                    success: function (response) {
                        $('#modal-load').modal('hide');
                        carregarTabela();
                    }
                });

                return false;

            });

            $(document).on('click', '.link-editar-musica', function () {

                $id = $(this).attr('href').replace('#', '');

                $url = '{{ path('rep_site_musicas_projetos_form') }}' + "/" + $id;

                $.ajax({
                    type: 'GET',
                    url: $url,
                    success: function (response) {
                        $('#body-edicao').html(response);
                        $('#btn-editar-musica').show();
                        $('#modal-edicao').modal('show');
                    }
                });

                return false;

            });
            
            $(document).on('click', '.link-editar-repertorio', function () {

                $id = $(this).attr('href').replace('#', '');

                $url = '{{ path('rep_site_repertorios_form') }}' + "/{{ projeto.id }}/" + $id;

                $.ajax({
                    type: 'GET',
                    url: $url,
                    success: function (response) {
                        $('#body-repertorio').html(response);
                        $('#titulo-modal-repertorio').html("Editar Repert&oacute;rio");
                        $('#modal-repertorio').modal('show');
                    }
                });

                return false;

            });

            $('#btn-editar').click(function () {
                $('#form-adiciona-musica-projeto').submit();
                $('#modal-adicao').modal('hide');
            });

            $('#link-muda-projeto').click(function () {

                $url = '{{ path('rep_site_projetos_muda') }}';

                $.ajax({
                    type: 'GET',
                    url: $url,
                    success: function (response) {
                        $('#body-muda-projeto').html(response);
                        $('#modal-muda-projeto').modal('show');
                    }
                });

                return false;
            });

            $('#btn-editar-musica').click(function () {
                $('#form-musica-projeto-edita').submit();
                $('#modal-edicao').modal('hide');
            });

            $(document).on('click', '#btn-nova-musica', function () {

                $id = -1;

                $url = '{{ path('rep_site_form_cadastra_novas_musicas_projeto', {'id_projeto': projeto.id}) }}';

                $.ajax({
                    type: 'GET',
                    url: $url,
                    success: function (response) {
                        $('#body-modal-nova-musica').html(response);
                        $('#modal-nova-musica').modal('show');
                    }
                });

                return false;

            });

            $(document).on('click', '#btn-novo-artista', function () {

                $url = '{{ path('rep_site_artistas_form_novo') }}';

                $.ajax({
                    type: 'GET',
                    url: $url,
                    success: function (response) {
                        $('#body-modal-novo-artista').html(response);
                        $('#modal-novo-artista').modal('show');
                    }
                });

                return false;

            });

            $('.link-detalhes-musica').click(function () {

                $id = $(this).attr('href').replace('#', '');

                $url = '{{ path('rep_site_musicas_detalhes_por_id') }}' + "/" + $id;

                $.ajax({
                    type: 'GET',
                    url: $url,
                    success: function (response) {
                        $('#body-edicao').html(response);
                        $('#modal-title').html("Detalhes da Música");
                        $('#modal-edicao').modal('show');
                        $('#btn-editar-musica').hide();
                    }
                });

                return false;

            });

        });
    </script>
{% endblock %}