{% extends "::base.html.twig" %}
{% block css %}
    {{ parent() }}
    <link href="{{ asset('css/colorpicker.css') }}" rel="stylesheet" />
{% endblock %}
{% block principal %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">Tipos de Evento</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form name="form-tipo-evento" id="form-tipo-evento" method="POST" 
                      action="{{ path('rep_site_tipos_evento_cadastra', {'id_tipo_evento': -1}) }}">
                    {{ form_widget(formTipoEvento) }}
                    <input type="submit" value="Cadastrar" class="btn btn-primary" />
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center">Tipos de Evento Cadastrados</h3>
                {% include 'RepSiteBundle:TipoEvento:tabela-cadastrados.html.twig' 
                          with {'tiposEvento': tiposEvento} %}
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/colorpicker.js') }}"></script>
    <script type="text/javascript">
        
        $(document).ready(function(){
            $('#tipo_evento_cor').ColorPicker({
                color: '#000000',
                onSubmit: function(hsb, hex, rgb, el) {
                    $('#tipo_evento_cor').val('#'+hex);
                    $(el).ColorPickerHide();
                },
                onChange: function(hsb, hex, rgb, el) {
                    $('#tipo_evento_cor').val('#'+hex);
                },
                onBeforeShow: function () {
                    $(this).ColorPickerSetColor(this.value);
                }
            })
            .bind('keyup', function(){
                $(this).ColorPickerSetColor(this.value);
            });
            
        });
        
        $('.link-editar').click(function () {

            $idTipoEvento = $(this).attr('href').replace('#', '');

            $url = '{{ path('rep_site_tipos_evento_form') }}' + "/" + $idTipoEvento;

            $.ajax({
                type: 'GET',
                url: $url,
                success: function (response) {
                    $('#body-modal').html(response);
                    $('#titulo-modal').html("Editar Tipo de Evento");
                    $('#modal').modal('show');
                }
            });

            return false;

        });
    </script>
{% endblock %}