{% extends "::base.html.twig" %}
{% block conteudo %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center">{{ evento.nome }}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" id="coluna-repertorio">
                <h3 class="text-center">Repert&oacute;rio</h3>
                <div id="caixa-repertorio">
                    {% include 'RepSiteBundle:Musica:lista-cadastrados.html.twig' 
                          with {'musicas': musicasEvento} %}
                </div>
                <a href="#" class="btn btn-brand-accent" id="btn-adiciona-musica">Adicionar M&uacute;sica</a>
                <a href="{{ path('rep_site_eventos') }}" class="btn btn-brand" id="btn-voltar">Voltar</a>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-edicao">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-heading">
                    <a class="modal-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
                    <h4 class="modal-title">Adicionar M&uacute;sica</h4>
                </div>
                <div class="modal-inner" id="body-edicao">

                </div>
                <div class="modal-footer">
                    <p class="text-right">
                        <button type="button" class="btn btn-brand" data-dismiss="modal">Fechar</button>
                        <button type="button" class="btn btn-brand-accent" id="btn-editar">Salvar</button>
                    </p>
                </div>
            </div>
        </div>
    </div>

            <div class="modal fade" id="modal-load">
        <div class="modal-dialog">
            <div class="modal-content" id="content-load">
                <div class="modal-inner text-center">
                    <img src="{{ asset('imagens/load.gif') }}" />
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block js %}
    {{ parent() }}
    <script src="{{ asset('js/jquery.form.min.js') }}"></script>
    <script type="text/javascript">

        function carregarTabela() {
            $url = '{{ path('rep_site_tabela_musicas_evento', {'id_evento': evento.id}) }}';

            $.ajax({
                type: 'GET',
                url: $url,
                success: function (response) {
                    $('#caixa-repertorio').html(response);
                }
            });
        }

        $(document).ready(function () {
            
            $('#btn-adiciona-musica').click(function () {

                $url = '{{ path('rep_site_form_cadastra_musicas_evento', {'id_evento': evento.id}) }}';

                $.ajax({
                    type: 'GET',
                    url: $url,
                    success: function (response) {
                        $('#body-edicao').html(response);
                        $('#btn-editar').show();
                        $('#modal-edicao').modal('show');
                    }
                });

                return false;

            });

            $(document).on('click', '.link-remover-musica', function(){

                $id = $(this).attr('href').replace('#', '');

                $url = '{{ path('rep_site_remove_musica_evento', {'id_evento': evento.id}) }}/' + $id;

                $('#modal-load').modal('show');

                $.ajax({
                    type: 'GET',
                    url: $url,
                    success: function (response) {
                        $('#modal-load').modal('hide');
                        carregarTabela();
                    }
                });

                return false;

            });
            
            $('#btn-editar').click(function(){
                $('#form-adiciona-musica-evento').submit();
                $('#modal-edicao').modal('hide');
            });

        });
    </script>
{% endblock %}