{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <h3 class="text-center">Por favor informe seus dados de acesso</h3>
    
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <form action="{{ path("fos_user_security_check") }}" method="post" class="margin-left margin-right">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                    <div class="form-group">
                        <label class="control-label" for="username">{{ 'security.login.username'|trans }}</label>
                        <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="password">{{ 'security.login.password'|trans }}</label>
                        <input class="form-control" type="password" id="password" name="_password" required="required" />
                    </div>
                    <div class="form-group">
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                        <label class="control-label" for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                    </div>   
                    <div class="form-group">
                        <input class="btn btn-primary" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
                    </div>
                </form>
            </div>
        </div>
    </div>
{#    <p class="text-center"><a href="{{ path('hwi_oauth_service_redirect', {'service': 'google'}) }}">Entrar com conta da Google</a></p>#}
{% endblock fos_user_content %}
