{#{% extends "::base.html.twig" %}#}
{#{% block principal %}#}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center">{{ musica.nome }}<br /><small>{{ musica.artista.nome }}</small></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-center">
                <h4 class="text-center">Dados Gerais</h4>
                <p><strong>&Uacute;ltimo Show: </strong><br />{{ ultimoShow is empty ? '-' : ultimoShow.data|date('d/m/Y H:i') }}</strong></p>
                <p><strong>&Uacute;ltimo Ensaio: </strong><br />{{ ultimoEnsaio is empty ? '-' : ultimoEnsaio.data|date('d/m/Y H:i') }}</strong></p>
                <p><strong>Execu&ccedil;&otilde;es (Geral):</strong><br />{{ eventos|length }}</p>
                <p>Presente em <strong>{{ shows|length }} Show(s)</strong></p>
            </div>
            <div class="col-md-8">
                <h4 class="text-center">&Uacute;ltimos Eventos</h4>
                <div id="caixa-tabela-eventos">
                    <table class="table table-hover table-striped text-center">
                        <thead>
                            <tr>
                                <td>Nome</td>
                                <td>Data / Hora</td>
                                <td>A&ccedil;&otilde;es</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for ev in eventos %}
                                <tr>
                                    <td>{{ ev.evento.nome }}</td>
                                    <td>{{ ev.evento.data|date('d/m/Y H:i') }}</td>
                                    <td><a href="{{ path('rep_site_musicas_evento', {'slug': ev.evento.slug}) }}" 
                                           target="_blank">Ver Repert&oacute;rio</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                
            </div>
        </div>
        {#<div class="row">
            <div class="col-md-10">
                <a href="{{ path('rep_site_musicas') }}" class="btn btn-primary">Voltar Para Banco de M&uacute;sicas</a>
            </div>
        </div>#}
    </div>
{#{% endblock %}#}