<div class="text-center conectadas tile-wrap" id="lista-cadastradas-evento">

    {% for musica in musicas %}
        <div class="tile tile-collapse musicas-evento">
            <div data-toggle="tile" data-target="#{{ musica.id }}">
                <div class="tile-inner">
                    <span class="id-musica">{{ musica.id }}</span>{{ musica.nome }} 
                    ({{ musica.artista.nome }})
                </div>
            </div>
            <div id="{{ musica.id }}" class="tile-active-show collapse">
                <p><b>Observa&ccedil;&otilde;es</b></p>
                <textarea type="text" name="obs[]" id="obs[]" class="observacao-musica" rows="5"></textarea>
            </div>
        </div>
    {% endfor %}

</div>