<table class="table table-hover table-striped text-center">
    <thead>
        <tr>
            <td>Nome</td>
            <td>Artista</td>
            <td>V&iacute;deos</td>
            <td>A&ccedil;&otilde;es</td>
        </tr>
    </thead>
    <tbody>
        {% for musica in musicas %}
            <tr>
                <td>{{ musica.nome }}</td>
                <td>{{ musica.artista.nome }}</td>
                <td><a href="https://www.youtube.com/results?q={{ musica.nome }}+{{ musica.artista.nome }}" 
                       target="_blank">Pesquisar</a></td>
                <td>
                    <a class="link-editar" href="#{{ musica.id }}">Editar</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>