<div class="table-responsive">
    <table class="table table-hover table-striped text-center">
        <thead>
            <tr>
                <td>Cont.</td>
                <td>Nome</td>
                <td>Artista</td>
                <td>Estilo</td>
                <td>A&ccedil;&otilde;es</td>
            </tr>
        </thead>
        <tbody>
            {% for musica in musicas %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ musica.nome }}</td>
                    <td>{{ musica.artista.nome }}</td>
                    <td>{{ musica.estilo.nome|default('-') }}</td>
                    <td>
                        <a class="link-editar" href="#{{ musica.id }}">Editar</a> |
                        <a href="#{{ musica.id }}" class="link-detalhes-musica">Ver Detalhes</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>