<table class="table table-hover table-striped text-center">
    <thead>
        <tr>
            <td>Cont.</td>
            <td>Nome</td>
            <td>Artista</td>
            <td>A&ccedil;&otilde;es</td>
        </tr>
    </thead>
    <tbody>
        {% for musica in musicas %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ musica.nome }}</td>
                <td>{{ musica.artista.nome }}</td>
                <td>
                    <a class="link-editar" href="#{{ musica.id }}">Editar</a> |
                    <a href="{{ path('rep_site_musicas_detalhes', {'artista': musica.artista.slug, 'slug': musica.slug}) }}" 
                       target="_blank">Ver Detalhes</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>